<app-common-template>

    <section class="log_wrap forgotpass_wrp">
        <mat-card class="inner-wrap">
            <span class="log-left">
                <mat-card-title class="wlcome-txt">Welcome!</mat-card-title>
                <mat-card-subtitle class="wlcome-subtxt" [innerHTML]="welcomedata"></mat-card-subtitle>

            </span>
            <span class="log-right">
                <form class="login-form" autocomplete="off" [formGroup]="myform">
                    <mat-card-title>Forget Password</mat-card-title>
                    <mat-card-subtitle>Enter your email to reset password.</mat-card-subtitle>

                    <mat-form-field appearance="outline">
                        <mat-label>Email address</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <span class="btn-act">
                        <button class="btn-primary" mat-button (click)="onsave()">Proceed</button>
                    </span>
                    <mat-card-subtitle class="account-txt">
                        Don’t have an account? <a [routerLink]="['/registration']">Register</a>
                    </mat-card-subtitle>
                </form>

            </span>
        </mat-card>
    </section>
</app-common-template>