<!-- <body>

    <section>
  
      <div class="form-box">
  
        <div class="form-value">
  
          <form>
  
         
            <img src="assets/logo/etax logo.png" alt="Logo" class="logo-image">
 
            <div class="inputbox">
                
          
  
              <input type="email" required>
              <i  class="fa fa-envelope" id="aa"></i>
              <label>Email</label>
  
            </div>
  
            <div class="inputbox">
  
              
              <input type="password" required>
              <i class="fa fa-lock" id="aa"></i>
              <label>Password</label>
  
            </div>
  
            <div class="forget">
  
              <label><input type="checkbox">Remember Me</label>
  
              <a href="#">Forgot Password</a>
  
            </div>
  
            <button (click)="onsave()">Log In</button>
  
            <div class="register">
  
              <p>Don't have an account? <a href="#">Sign Up</a></p>
  
            </div>
  
          </form>
  
        </div>
  
      </div>
  
    </section>
  
 
  
  </body>  -->








<!-- <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="mytra-login">-->
<!-- <div class="poster">
      </div> -->
<!-- <form [formGroup]="loginform">
            <img src="assets/logo/logosurvey.png" alt="Logo" class="logo-image" style="width: auto; height: 40px; margin-top: 30px;">

            <label> <i class="fa fa-envelope" id="aa"></i> Email ID</label>

            <input type="email" formControlName="email" [class.is-invalid]="email.touched && email.invalid">
            <section *ngIf="email.touched && email.invalid">
              <small class="text-danger" *ngIf="email.errors?.['required']"> Please enter email.</small>
              <small class="text-danger" *ngIf="email.errors?.['pattern']">Please enter valid email</small>
            </section>
            <label> <i class="fa fa-lock" id="aa"></i> Password</label>
            <input type="password" formControlName="password" [class.is-invalid]="password.touched && password.invalid">
            <section *ngIf="password.touched && password.invalid">
              <small class="text-danger" *ngIf="password.errors?.['required']">Please enter password</small>
              <small class="text-danger" *ngIf="password.errors?.['pattern']">Invalid Password</small>
            </section>
            <div class="forgot">
              <label><input type="checkbox" formControlName="checkbox"
                  [class.is-invalid]="checkbox.touched && checkbox.invalid"> Keep me signed in</label>

              <a [routerLink]="['/forgotpass']">Forget Password?</a>
            </div>

            <button class="login" (click)="onsave()" [disabled]="loginform.invalid">Login</button>
            <div class="text-danger" *ngIf="loginform.invalid && (loginform.dirty || loginform.touched)">
              Please fill out all fields.
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</body> -->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <ngx-spinner></ngx-spinner> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="login_box_outer">
   
        <mat-card class="container">
            <h2 class="m-title">Terms and Conditions</h2>
            <h3><b>1. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>2. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>3. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>4. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>5. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>6. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
        </mat-card>
  

</div>