<section class="footer-wrp">

    <mat-card class="copyright">

        <span class="crt-content">

            <mat-list>
                <mat-list-item><a  [routerLink]="['/survey-listing']">Home</a></mat-list-item>
                <mat-list-item><a [routerLink]="['/survey-listing']">Surveys</a></mat-list-item>
                <mat-list-item><a [routerLink]="['/about-us']">About Us</a></mat-list-item>
                <mat-list-item><a [routerLink]="['/contact-us']">Contact Us</a></mat-list-item>
            </mat-list>
            <span class="social">
                <a href="{{linkdin}}" target="_blank">
                    <img src="assets/img/linkedin_Icon.png" alt=" linkedinIcon" class="img-responsive" />
                </a>
                <a href="{{threads}}" target="_blank">
                    <img src="assets/img/thread_Icon.png" alt="linkedinIcon" class="img-responsive" />
                </a>
            </span>
        </span>


        <p class="txt-copyright">
            Copyright Points Terra LLC 2024. All Rights Reserved.
        </p>
    </mat-card>
</section>