.gradient-custom {
  /* fallback for old browsers */
  background: #357451;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(223, 196, 108), rgb(97, 139, 73));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(223, 196, 108), rgb(97, 139, 73))
  }
  .avatar-container {
    display: flex; /* Make the container a flex container */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    margin-top: 25px; /* Add margin as needed */
  }
  
  .img-fluid {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    /* Add additional styling for your images as needed */
  }
  .example-button-row .btn-cancel{ width: 120px;} 
