<app-common-template>



    <section class="terms-wrapper">
        <mat-card class="container">
            <h2 class="m-title">Privacy Policy</h2>
            <h3><b>1. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>2. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>3. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>4. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>5. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
            <h3><b>6. </b>Lorem ipsum dolor sit amet.</h3>
            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
        </mat-card>
    </section>
</app-common-template>