<app-common-template>

    <section class="log_wrap forgotpass_wrp">
        <mat-card class="inner-wrap">
            <span class="log-left">
                <mat-card-title class="wlcome-txt">Welcome!</mat-card-title>
                <mat-card-subtitle class="wlcome-subtxt">There are many variations of passages of Lorem Ipsum
                    available,<br /> but the majority have
                    suffered alteration.</mat-card-subtitle>

            </span>
            <span class="log-right">
                <form class="login-form" autocomplete="off" [formGroup]="changepasswordForm">
                    <mat-card-title>Reset Password</mat-card-title>
                    <mat-card-subtitle>Enter your new password. (Enter minimum 8 characters)</mat-card-subtitle>

                    <mat-form-field appearance="outline">
                        <mat-label>New password</mat-label>
                        <input matInput [type]="newPassword ? 'password' : 'text'" formControlName="password">
                        <button type="button" mat-icon-button matSuffix (click)="newPassword = !newPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPassword">
                            <mat-icon>{{newPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <span class="progress-withvalue">
                        <span class="progres-wrap">
                            <mat-progress-bar color="warn" mode="determinate" value="100"></mat-progress-bar>
                            <mat-progress-bar color="warn" mode="determinate" value="100"></mat-progress-bar>
                            <mat-progress-bar color="warn" mode="determinate" value="0"></mat-progress-bar>
                        </span>
                        <label><span>&#9679;</span> Good</label>
                    </span>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm password</mat-label>
                        <input matInput [type]="confirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
                        <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPassword">
                            <mat-icon>{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="changepasswordForm.get('confirmPassword').touched && changepasswordForm.hasError('passwordMismatch')">
                        <p class="text-danger">Passwords do not match.</p>
                      </div>
                    <span class="btn-act">
                        <button class="btn-primary" mat-button (click)="onreset()">Change Password</button>
                    </span>
                    <br />
                    <br />
                </form>

            </span>
        </mat-card>
    </section>
</app-common-template>