.red-text {
    color: red !important;
  }

.SignUpForm_subscript__AyYz0 {
  
  margin-top: 1rem;
  margin-left: 1rem;


}

.SignUpForm_subscript__AyYz0 .SignUpForm_agreementButton__QLGzC {
  display: inline;
  font-weight: 400;
  color: #2bd675;
  text-decoration: underline;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;

}

.SignUpForm_subscript__AyYz0 .SignUpForm_agreementButton__QLGzC:hover {
  text-decoration: none;
}
.custom-clear {
  clear: both;
  margin-top: 20px;
}
  